.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

.mypy_cache
.ruff_cache
.pytest_cache
.DS_Store
.idea
.vscode

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.exe
*.dll
*.lib
*.exp
*.def
*.obj
*.def
*.7z
*.zip
*.tar
*.gz
*.bz2
*.rar
*.7z
*.deb
*.rpm
*.msi
*.whl
*.egg
*.egg-info
